# Alex Brachet-Mialot <abrachet@purdue.edu>
.vscode/
a.out.dSYM/
current_test.dSYM/
deprecated/

# fake header file
_test.h

.DS_Store

# compiled executables
a.out
current_test
export_test
_ID_Test
include_detector

symfile
memcheck.txt
memtest

*.gch
*.o
*.s
*.S
*.so
